Projet_IWindows_atmega/flows (2).json
[{"id":"1eafd2f0.403b8d","type":"tab","label":"IWindows","disabled":false,"info":""},{"id":"87a50e99.26b0f8","type":"mqtt in","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/Meteo","qos":"2","datatype":"auto","broker":"cf109068.ec445","x":140,"y":80,"wires":[["9df480b3.aee45"]]},{"id":"ffaebcc5.eab46","type":"mqtt in","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/esp/aliveAntoine","qos":"2","datatype":"auto","broker":"cf109068.ec445","x":1180,"y":1080,"wires":[[]]},{"id":"153100d7.2a177f","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"4c0c2fa5.2f4d68","order":2,"width":6,"height":4,"gtype":"wave","title":"Humidité intérieure","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#dfdfdf","#00cccc","#2020ff"],"seg1":"","seg2":"","x":990,"y":80,"wires":[]},{"id":"3b1f8708.cf35a8","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"cfd01de.082cce","order":2,"width":6,"height":4,"gtype":"wave","title":"Humidité exterieure","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#dfdfdf","#00cccc","#2020ff"],"seg1":"","seg2":"","x":1210,"y":120,"wires":[]},{"id":"f5aaecc9.47f87","type":"function","z":"1eafd2f0.403b8d","name":"","func":"if (msg.payload==0) //porte fermee\n{\n    msg.payload = \"Fermée\"\n} \nelse\n{\n    msg.payload = \"Ouverte\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":200,"wires":[["23508796.7f67e8"]]},{"id":"1c2b43a6.2072bc","type":"function","z":"1eafd2f0.403b8d","name":"","func":"var Header = msg.payload.split(\"]\")\nmsg.payload = Header[0];\n\nif (msg.payload==0) //volet ferme\n{\n    msg.payload = \"Fermé\"\n} \nelse\n{\n    msg.payload = \"Ouvert\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":240,"wires":[["aedb3923.92ea08"]]},{"id":"23508796.7f67e8","type":"ui_text","z":"1eafd2f0.403b8d","group":"f30a35c2.7c626","order":5,"width":0,"height":0,"name":"","label":"Etat de la porte : ","format":"{{msg.payload}}","layout":"row-center","x":1410,"y":200,"wires":[]},{"id":"aedb3923.92ea08","type":"ui_text","z":"1eafd2f0.403b8d","group":"f30a35c2.7c626","order":6,"width":0,"height":0,"name":"","label":"Etat du volet : ","format":"{{msg.payload}}","layout":"row-center","x":1400,"y":240,"wires":[]},{"id":"6a89b7ce.9a1568","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"4c0c2fa5.2f4d68","order":3,"width":6,"height":4,"gtype":"donut","title":"Luminosité","label":"lux","format":"{{value}}","min":"0","max":"2000","colors":["#000000","#e6e600","#ffff00"],"seg1":"150","seg2":"1000","x":950,"y":140,"wires":[]},{"id":"9df480b3.aee45","type":"function","z":"1eafd2f0.403b8d","name":"","func":"//[23.93#23.93#23.93#23.93#23.93#23.93#23.93#23.93#23.93]\nvar Header = msg.payload.split(\"[\")\nvar parts = Header[1].split(\"#\");\nvar temp_int = {payload:parts[0]};\nvar temp_ext = {payload:parts[1]};\nvar humi_int = {payload:parts[2]};\nvar humi_ext = {payload:parts[3]};\nvar lux = {payload:parts[4]};\nvar etat_porte = {payload:parts[5]};\nvar etat_volet = {payload:parts[6]};\nvar mode = {payload:parts[7]};\nvar etat_alarme = {payload:parts[8]};\n\nreturn [temp_int,temp_ext,humi_int,humi_ext,lux,etat_porte,etat_volet,mode,etat_alarme];","outputs":9,"noerr":0,"initialize":"","finalize":"","x":360,"y":80,"wires":[["e1dac62d.6d3ac8"],["4681e90f.0516f8"],["153100d7.2a177f"],["3b1f8708.cf35a8"],["6a89b7ce.9a1568"],["f5aaecc9.47f87"],["1c2b43a6.2072bc"],["e34c7292.b9c1c","c8a41740.1663c8","3e908e11.1f64e2","e5054426.7e46e8"],["5b3fe3c0.d3ccac","c841cf02.6b7d5","302b1a96.089956","b4402305.078ef"]]},{"id":"e1dac62d.6d3ac8","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"4c0c2fa5.2f4d68","order":1,"width":0,"height":0,"gtype":"gage","title":"Température intérieure","label":"degrés","format":"{{value}}","min":"-10","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":20,"wires":[]},{"id":"1ccc92da.b9e4cd","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"580beb7.5f1ad94","order":3,"width":7,"height":2,"passthru":false,"label":"Actionner le volet","tooltip":"","color":"","bgcolor":"","icon":"","payload":"V","payloadType":"str","topic":"","x":170,"y":1260,"wires":[["4c0e8a1e.34e7b4"]]},{"id":"4c0e8a1e.34e7b4","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/action_manuel","qos":"","retain":"","broker":"cf109068.ec445","x":530,"y":1220,"wires":[]},{"id":"82b7731b.55baf","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"580beb7.5f1ad94","order":1,"width":7,"height":2,"passthru":false,"label":"Actionner la porte","tooltip":"","color":"","bgcolor":"","icon":"","payload":"P","payloadType":"str","topic":"","x":170,"y":1200,"wires":[["4c0e8a1e.34e7b4"]]},{"id":"4681e90f.0516f8","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"cfd01de.082cce","order":1,"width":0,"height":0,"gtype":"gage","title":"Température exterieur","label":"degrés","format":"{{value}}","min":"-10","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":40,"wires":[]},{"id":"3479fc78.0af2ec","type":"mqtt in","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/temp_cible","qos":"2","datatype":"auto","broker":"cf109068.ec445","x":180,"y":680,"wires":[["f59de8f8.c2e37"]]},{"id":"19582c55.4a07bc","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"3d4dc09b.478c18","order":2,"width":6,"height":4,"gtype":"wave","title":"Humidité Cible","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#dfdfdf","#00cccc","#2020ff"],"seg1":"","seg2":"","x":920,"y":580,"wires":[]},{"id":"19c20dbb.6cc702","type":"ui_slider","z":"1eafd2f0.403b8d","name":"","label":"Température cible","tooltip":"","group":"3d4dc09b.478c18","order":19,"width":6,"height":1,"passthru":true,"outs":"end","topic":"temp","min":"-10","max":"50","step":1,"x":610,"y":680,"wires":[["bbae1dbb.5454e","7c35dab0.3208bc","4a6fe769.c90cd8"]]},{"id":"29df8710.46249","type":"ui_slider","z":"1eafd2f0.403b8d","name":"","label":"Humidité cible","tooltip":"","group":"3d4dc09b.478c18","order":4,"width":6,"height":1,"passthru":true,"outs":"end","topic":"humi","min":"0","max":"100","step":1,"x":600,"y":720,"wires":[["19582c55.4a07bc","c424a66e.68d578","4f2784c5.97ce54"]]},{"id":"e45165e5.f576","type":"ui_slider","z":"1eafd2f0.403b8d","name":"","label":"Luminosité cible","tooltip":"","group":"3d4dc09b.478c18","order":3,"width":6,"height":1,"passthru":true,"outs":"end","topic":"lux","min":"0","max":"2000","step":"50","x":600,"y":760,"wires":[["6aabef78.e8ddc8","c20e8511.9a79","5f1ba1bb.7b0a8"]]},{"id":"6aabef78.e8ddc8","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"3d4dc09b.478c18","order":1,"width":6,"height":4,"gtype":"donut","title":"Luminosité cible","label":"lux","format":"{{value}}","min":"0","max":"2000","colors":["#000000","#e6e600","#ffff00"],"seg1":"150","seg2":"1000","x":920,"y":620,"wires":[]},{"id":"7c35dab0.3208bc","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/temp_cible","qos":"","retain":"","broker":"cf109068.ec445","x":960,"y":820,"wires":[]},{"id":"3db16bca.633e04","type":"function","z":"1eafd2f0.403b8d","name":"","func":"var Header = \"[c#\";\n\nHeader += flow.get(\"flow_temp_cible\");\nHeader += \"#\";\nHeader += flow.get(\"flow_humi_cible\");\nHeader += \"#\";\nHeader += flow.get(\"flow_lux_cible\");\nHeader += \"#]\";\nmsg.payload = Header;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":720,"wires":[["3ad83ba4.80f4b4"]]},{"id":"c424a66e.68d578","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/humi_cible","qos":"","retain":"","broker":"cf109068.ec445","x":960,"y":860,"wires":[]},{"id":"c20e8511.9a79","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/lux_cible","qos":"","retain":"","broker":"cf109068.ec445","x":950,"y":900,"wires":[]},{"id":"4673af4f.819418","type":"mqtt in","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/humi_cible","qos":"2","datatype":"auto","broker":"cf109068.ec445","x":180,"y":720,"wires":[["9a9a44b7.c92e78"]]},{"id":"fc2155db.ee879","type":"mqtt in","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/lux_cible","qos":"2","datatype":"auto","broker":"cf109068.ec445","x":190,"y":760,"wires":[["2ff7ae83.6f26a2"]]},{"id":"3ad83ba4.80f4b4","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/cible","qos":"","retain":"","broker":"cf109068.ec445","x":1300,"y":680,"wires":[]},{"id":"f59de8f8.c2e37","type":"delay","z":"1eafd2f0.403b8d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":680,"wires":[["19c20dbb.6cc702"]]},{"id":"9a9a44b7.c92e78","type":"delay","z":"1eafd2f0.403b8d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":720,"wires":[["29df8710.46249"]]},{"id":"2ff7ae83.6f26a2","type":"delay","z":"1eafd2f0.403b8d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":410,"y":760,"wires":[["e45165e5.f576"]]},{"id":"4a6fe769.c90cd8","type":"function","z":"1eafd2f0.403b8d","name":"","func":"flow.set(\"flow_temp_cible\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":680,"wires":[["3db16bca.633e04"]]},{"id":"4f2784c5.97ce54","type":"function","z":"1eafd2f0.403b8d","name":"","func":"flow.set(\"flow_humi_cible\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":720,"wires":[["3db16bca.633e04"]]},{"id":"5f1ba1bb.7b0a8","type":"function","z":"1eafd2f0.403b8d","name":"","func":"flow.set(\"flow_lux_cible\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":760,"wires":[["3db16bca.633e04"]]},{"id":"bbae1dbb.5454e","type":"ui_gauge","z":"1eafd2f0.403b8d","name":"","group":"3d4dc09b.478c18","order":6,"width":6,"height":6,"gtype":"gage","title":"Température Cible","label":"degrés","format":"{{value}}","min":"-10","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":540,"wires":[]},{"id":"5b3fe3c0.d3ccac","type":"function","z":"1eafd2f0.403b8d","name":"boite dial","func":"if (msg.payload==\"1]\" && flow.get(\"alarme\")==\"0\") //alarme declenchee\n{\n    msg.payload = \"Alarme declenchee\"\n    msg.topic = \"ALERTE\"\n    flow.set(\"alarme\",\"1\");\n} \nelse\n{\n    if (msg.payload==\"0]\")\n    {\n     flow.set(\"alarme\",\"0\");\n    }\n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":420,"wires":[["1267d7ef.3b1938"]]},{"id":"c841cf02.6b7d5","type":"function","z":"1eafd2f0.403b8d","name":"declenchement led","func":"msg.color = (msg.payload === \"0]\")?\"lime\":\"red\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":360,"wires":[["ceacd6bb.d6bb08"]]},{"id":"302b1a96.089956","type":"function","z":"1eafd2f0.403b8d","name":"bouton rearmement alarme","func":"if (msg.payload == \"0]\")\n{\n    msg.enabled = false\n} \nelse\n{\n    msg.enabled = true\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":480,"wires":[["b41b9366.38f7a"]]},{"id":"1267d7ef.3b1938","type":"ui_toast","z":"1eafd2f0.403b8d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"alarme","name":"","x":610,"y":420,"wires":[[]]},{"id":"ceacd6bb.d6bb08","type":"ui_text","z":"1eafd2f0.403b8d","group":"add43555.e1c77","order":2,"width":6,"height":1,"name":"","label":"Etat alarme : ","format":"<font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":610,"y":360,"wires":[]},{"id":"b41b9366.38f7a","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"add43555.e1c77","order":1,"width":0,"height":0,"passthru":false,"label":"Réarmer alarme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":700,"y":480,"wires":[["fb93cafb.5da6d8"]]},{"id":"fb93cafb.5da6d8","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/rearmer_alarme","qos":"","retain":"","broker":"cf109068.ec445","x":1020,"y":480,"wires":[]},{"id":"e34c7292.b9c1c","type":"function","z":"1eafd2f0.403b8d","name":"","func":"if (msg.payload == 1) //mode manuel\n{\n    msg.payload={\"group\":{\"hide\":[\"IWindows_Mode_Automatique\",\"IWindows_Mode_Alarme\"],\"show\":[\"IWindows_Mode_Manuel\"]}}\n} \nelse if (msg.payload == 2)//mode auto\n{\n   msg.payload={\"group\":{\"hide\":[\"IWindows_Mode_Manuel\",\"IWindows_Mode_Alarme\"],\"show\":[\"IWindows_Mode_Automatique\"]}}\n} \nelse if (msg.payload == 3) //mode alarme\n{\n    msg.payload={\"group\":{\"hide\":[\"IWindows_Mode_Automatique\",\"IWindows_Mode_Manuel\"],\"show\":[\"IWindows_Mode_Alarme\"]}}\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":280,"wires":[["54a57900.e5de48"]]},{"id":"c8a41740.1663c8","type":"function","z":"1eafd2f0.403b8d","name":"","func":"if (msg.payload == 1) //mode manuel\n{\n    msg.enabled = false\n} \nelse \n{\n    msg.enabled = true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":340,"wires":[["2b93af6e.09374"]]},{"id":"3e908e11.1f64e2","type":"function","z":"1eafd2f0.403b8d","name":"","func":"if (msg.payload == 2) //mode auto\n{\n    msg.enabled = false\n} \nelse \n{\n    msg.enabled = true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":380,"wires":[["a951c7ad.250ad8"]]},{"id":"e5054426.7e46e8","type":"function","z":"1eafd2f0.403b8d","name":"","func":"if (msg.payload == 3) //mode alarme\n{\n    msg.enabled = false\n} \nelse \n{\n    msg.enabled = true\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":420,"wires":[["fe1a78f9.b28868"]]},{"id":"54a57900.e5de48","type":"ui_ui_control","z":"1eafd2f0.403b8d","name":"","events":"all","x":1280,"y":280,"wires":[[]]},{"id":"2b93af6e.09374","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"f30a35c2.7c626","order":1,"width":0,"height":0,"passthru":false,"label":"Mode Manuel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":1260,"y":340,"wires":[["9d2e228d.d9dc7"]]},{"id":"a951c7ad.250ad8","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"f30a35c2.7c626","order":2,"width":0,"height":0,"passthru":false,"label":"Mode Automatique","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":1270,"y":380,"wires":[["9d2e228d.d9dc7"]]},{"id":"fe1a78f9.b28868","type":"ui_button","z":"1eafd2f0.403b8d","name":"","group":"f30a35c2.7c626","order":3,"width":0,"height":0,"passthru":false,"label":"Mode Alarme","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":1250,"y":420,"wires":[["9d2e228d.d9dc7"]]},{"id":"9d2e228d.d9dc7","type":"mqtt out","z":"1eafd2f0.403b8d","name":"","topic":"UTBM/IWindows/node_mode","qos":"","retain":"","broker":"cf109068.ec445","x":1620,"y":360,"wires":[]},{"id":"b4402305.078ef","type":"debug","z":"1eafd2f0.403b8d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"cf109068.ec445","type":"mqtt-broker","name":"fluux.io","broker":"mqtt.fluux.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c0c2fa5.2f4d68","type":"ui_group","name":"Information en temps réel","tab":"e08637ca.59835","order":2,"disp":true,"width":"6","collapse":false},{"id":"cfd01de.082cce","type":"ui_group","name":" ","tab":"e08637ca.59835","order":3,"disp":true,"width":"6","collapse":false},{"id":"f30a35c2.7c626","type":"ui_group","name":"Selection Mode","tab":"e08637ca.59835","order":1,"disp":true,"width":"6","collapse":false},{"id":"580beb7.5f1ad94","type":"ui_group","name":"Mode Manuel","tab":"e08637ca.59835","order":4,"disp":true,"width":7,"collapse":false},{"id":"3d4dc09b.478c18","type":"ui_group","name":"Mode Automatique","tab":"e08637ca.59835","order":5,"disp":true,"width":12,"collapse":false},{"id":"add43555.e1c77","type":"ui_group","name":"Mode Alarme","tab":"e08637ca.59835","order":6,"disp":true,"width":"6","collapse":false},{"id":"e08637ca.59835","type":"ui_tab","name":"IWindows","icon":"dashboard","order":1,"disabled":false,"hidden":false}]